// -----------------------------------------------------------------------------
// Application-wide Sass variables.
// -----------------------------------------------------------------------------

// Fonts: Sweden Sans, two weights
// ------------------------

// Regular
$regular: "sweden_sansregular", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Bold
$bold: "sweden_sansbold", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
// ------------------------

// Bakgrundsfärg
$bg: #edf2f7;

// Copy text
$text-color: #111111;

// Ljus text
$light-text: #787878;

// Brand color – yellow
$brand: #fecb00;

// Blå
$blue: #005293;

// Ljus text för Blå bakgrund
$light-text-2: #b2c8dc;

$blue-gray: #cdd4dc;

// Dimensions
// ------------------------

// Container's maximum width
$max-width: 1180px;

// Line-height
$ratio: 1.75;

// Breakpoints map
// @prop {String} keys - Keys are identifiers mapped to a given length
// @prop {Map} values - Values are actual breakpoints expressed in pixels
// $breakpoints: (
//   "small": 320px,
//   "medium": 768px,
//   "large": 1024px,
// ) !default;

// Base URL
// ------------------------

// Relative or absolute URL where all assets are served from
// @type String
// @example scss - When using a CDN
//   $base-url: 'http://cdn.example.com/assets/';
// $base-url: "/assets/" !default;

// Header breakpoints
$header-breakpoint-1: 64em;
$header-breakpoint-2: 55em;

// Footer breakpoint
$footer-breakpoint: 55em;
