.hero-container {
  margin-top: -3rem !important; // Override "body:not(.home) article > * + *" in reset.scss

  .hero-full-bleed {
    padding-top: 3rem;
    padding-bottom: 3rem;

    // If there is a card used in the hero
    .hero.med-kort {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &__content {
        max-width: 50%;

        @media screen and (max-width: 781px) {
          max-width: 100%;
        }
      }

      &__kort {
        @media screen and (max-width: 1179px) {
          right: 2rem;
        }

        @media screen and (max-width: 781px) {
          position: relative;
          right: 0;
        }
      }

      //If there is no card used in the hero
      .hero {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        &__text {
          max-width: 50%;
        }

        @media screen and (max-width: 781px) {
          max-width: 100%;
        }
      }
    }
  }

  .light {
    // Light theme
    background-color: $bg;

    .hero {
      &__heading {
        color: $text-color;
      }

      &__text {
        color: $text-color;
      }
    }
  }

  .dark {
    // Dark theme
    background-color: $blue;

    .hero {
      &__heading {
        color: $brand;
      }

      &__text {
        color: white;
      }
    }
  }
}

// Clear the container to clear __kort
.hero-container::after {
  content: "";
  clear: both;
  display: table;
}

.search-results {
  .hero-container {
    margin-top: 0 !important; // Override "body:not(.home) article > * + *" in reset.scss
    margin-bottom: 1rem;
  }
}
