.wp-block-image {
  position: relative;
  img {
    border: 0.1rem solid white;
    @include drop-shadow;
  }
  figcaption {
    position: absolute;
    bottom: 24px;
    left: 24px;
    margin: 0;
    padding: 0 4px;
    background: $text-color;
    color: $bg;
    font-size: 80%;
  }
  &.no-border {
    img {
      border: 0;
      box-shadow: none;
    }
  }
}
