/* Jetpack bildspel */
.js .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_pagination.swiper-pagination-custom {
	justify-content: center;
}

.js .swiper-button-prev {
	left: 26px;
}

.js .swiper-button-next {
	right:26px;
}