// Social feeds

.social-feed {
  background-color: white;
  padding: 2rem;
  @include drop-shadow;
  margin-bottom: 2rem;
}
.facebook-wrapper {
}
.twitter-wrapper {
}
.instagram-wrapper {
  margin-top: 0 !important; // Override style in base.scss
}
