// Social feeds

// Variables
$social-padding: 1rem;
$social-date-size: 0.8rem;

.social-feed {
  background-color: white;
  padding: 2rem;
  @include drop-shadow;
  margin-bottom: 2rem;
  position: relative;

  h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1.5rem;
    }
  }
}

// Facebook
.facebook-wrapper {
  #cff .cff-item {
    border-bottom: none; // remove default style
  }

  .cff-date-dot {
    display: none; // remove default style
  }

  #cff.cff-default-styles .cff-date {
    // position the facebook date
    position: absolute;
    bottom: $social-padding;
    right: $social-padding;
    font-size: $social-date-size;
    color: $light-text;
  }

  h3::before {
    background-image: url("img/facebook.svg");
  }
}

// Twitter
.twitter-wrapper {
  #ctf.ctf-styles .ctf-tweet-meta {
    // position the tweet date
    position: absolute;
    bottom: $social-padding;
    right: $social-padding;
    font-size: $social-date-size;

    a {
      // Restyle the anchor
      text-decoration: none;
      color: $light-text !important; // override default
    }
  }

  h3::before {
    background-image: url("img/twitter.svg");
  }
}

//Instagram
.instagram-wrapper {
  margin-top: 0 !important; // Override style in base.scss

  h3::before {
    background-image: url("img/instagram.svg");
  }
}
