// Social feeds

// Variables
$social-padding: 1rem;
$social-date-size: 0.8rem;

// Social kort
// ------------------------

.social-kort-wrapper {
  display: grid;
  grid-gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@supports (width: min(20rem, 100%)) {
  .social-kort-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  }
}

.social-kort {
  position: relative;
  padding: 2rem;
  background-color: white;
  margin-bottom: 0;
  @include drop-shadow;

  h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 1.8rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: top;
      background-size: 1.3rem;
      height: 1.3rem;
      width: 1.3rem;
      display: block;
    }
  }
}

// Facebook
.facebook-feed {
  #cff p {
    // margin: auto !important; // Override default
  }

  .cff-date-dot {
    // display: none; // remove default style
  }

  #cff .cff-date {
    // position the facebook date
    position: absolute;
    bottom: $social-padding;
    right: $social-padding;
    font-size: $social-date-size;
    color: $light-text;
  }

  h3::before {
    background-image: url("img/facebook.svg");
  }
}

// Twitter
.twitter-feed {
  #ctf.ctf-styles .ctf-tweet-meta {
    // position the tweet date
    position: absolute;
    bottom: $social-padding;
    right: $social-padding;
    font-size: $social-date-size;

    a {
      // Restyle the anchor
      // text-decoration: none;
      // color: $light-text !important; // override default
    }
  }

  h3::before {
    background-image: url("img/twitter.svg");
  }

  #ctf .ctf-item {
    // padding: 0 !important; // Override default
  }

  #ctf.ctf-narrow .ctf-tweet-content {
    // padding: 0 !important; // Override default
  }

  #ctf.ctf-super-narrow .ctf-author-box {
    // min-height: 0 !important; // Override default
    // margin-bottom: 0 !important; // Override default
  }
}

//Instagram
.instagram-feed {
  // margin-top: 0 !important; // Override style in base.scss

  h3::before {
    background-image: url("img/instagram.svg");
  }
}
